// 装换时间戳 在wxml中使用
function _filterTimestamp(value) {
  var time = getDate(value);
  var year = time.getFullYear();
  var month = time.getMonth()+1;
  var date = time.getDate();
  var hour = time.getHours();
  var minute = time.getMinutes();
  var second = time.getSeconds();

  month = month < 10 ? "0" + month : month;
  date = date < 10 ? "0" + date : date;
  hour = hour < 10 ? "0" + hour : hour;
  minute = minute < 10 ? "0" + minute : minute;
  second = second < 10 ? "0" + second : second;

  return month + "月" + date + "日  " + hour + ":" + minute;
}

function _getType(value){
  if(value == 1){
    return "新闻";
  }
  if(value == 2){
    return "体育"
  }
  if(value == 3){
    return "财经"
  }
  if(value == 4){
    return "娱乐"
  }
}
module.exports = {
  _filterTimestamp: _filterTimestamp,
  _getType: _getType
}